<ul>
  <li dropdown-card
      *ngFor="let roomExtraContainer of roomExtras"
      class="card"
      [title]="roomExtraContainer.title"
      [subtitle]="roomExtraContainer.subtitle"
      [label]="roomExtraContainer.tag.label"
      [labelPosition]="roomExtraContainer.tag.position">
      <article *ngFor="let roomExtra of roomExtraContainer.extras"
      class="room-extras_content">
        <img [src]="getImgPath(roomExtra.img)"
             alt="{{roomExtra.title}}"
             class="room-extras_image">
        <div class="room-extras_body">
          <h1 class="room-extras_title">{{roomExtra.title}}</h1>
          <p class="room-extras_description">{{roomExtra.body}}</p>
          <div class="room-extras_see-more_trigger"
               (click)="isOpened = !isOpened"
               *ngIf="roomExtra.seeMore.info">
            {{roomExtra.seeMore.label}}
            <img [src]="getImgPath('angle-down-blue.svg')"
                 class="room-extras_see-more_arrow"
                 [ngClass]="{'opened': isOpened}"
                 alt="arrow down">
          </div>
        </div>
        <div class="room-extra_see-more_content">
          <div class="room-extra_see-more_label" *ngIf="roomExtra.seeMore.title">{{roomExtra.seeMore.title}}</div>
          <ul class="room-extra_see-more_info-list">
            <li class="room-extra_see-more_info"
                *ngFor="let info of roomExtra.seeMore.info">{{info}}</li>
          </ul>
          <span>{{roomExtra.seeMore.footNote}}</span>
        </div>
      </article>
  </li>
</ul>
